openapi: 3.0.3
info:
  title: VINaudit Vehicle History Getownershipcost.php Query API
  description: Access raw vehicle history data sourced from NMVTIS and other providers covering title records, odometer readings, accident records, salvage information, theft records, and junk/salvage brands for vehicles in the US and Canada. VINaudit is an NMVTIS-approved data provider.
  version: '2.0'
  contact:
    name: VINaudit Support
    url: https://www.vinaudit.com/vehicle-data-api
  license:
    name: Commercial
    url: https://www.vinaudit.com/vehicle-history-api
servers:
- url: https://api.vinaudit.com/v2
  description: VINaudit Vehicle History API v2
tags:
- name: Query
paths:
  /query:
    get:
      operationId: queryVin
      summary: Query a VIN for Records
      description: Initialize a vehicle history lookup by VIN. Returns basic vehicle attributes and a report ID that can be used to pull the full history report. Supports test mode via the mode parameter.
      parameters:
      - name: vin
        in: query
        required: true
        description: 17-character Vehicle Identification Number
        schema:
          type: string
          example: 1VXBR12EXCP901214
      - name: key
        in: query
        required: true
        description: API authentication key
        schema:
          type: string
          example: YOUR_API_KEY_HERE
      - name: user
        in: query
        required: true
        description: API username credential
        schema:
          type: string
          example: va
      - name: pass
        in: query
        required: true
        description: API password credential
        schema:
          type: string
          example: test
      - name: format
        in: query
        required: true
        description: Response format
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: skipspec
        in: query
        required: false
        description: Set to 1 to skip vehicle specifications in response
        schema:
          type: integer
          enum:
          - 0
          - 1
      - name: mode
        in: query
        required: false
        description: Set to test for test mode requests
        schema:
          type: string
          enum:
          - test
      - name: callback
        in: query
        required: false
        description: JSONP callback function name
        schema:
          type: string
          example: OnVinQueryData
      responses:
        '200':
          description: Successful VIN query response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponse'
              example:
                vin: 1VXBR12EXCP901214
                id: S41149125266
                attributes:
                  make: TOYOTA
                  model: COROLLA CE
                  year: '2005'
                success: true
                error: ''
      tags:
      - Query
    post:
      operationId: queryVinPost
      summary: Query a VIN for Records (POST)
      description: Initialize a vehicle history lookup by VIN using POST method. Returns basic vehicle attributes and a report ID.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - vin
              - key
              - user
              - pass
              - format
              properties:
                vin:
                  type: string
                  description: 17-character Vehicle Identification Number
                  example: 1VXBR12EXCP901214
                key:
                  type: string
                  description: API authentication key
                user:
                  type: string
                  description: API username credential
                pass:
                  type: string
                  description: API password credential
                format:
                  type: string
                  enum:
                  - json
                  - xml
                skipspec:
                  type: integer
                  description: Set to 1 to skip specs
                mode:
                  type: string
                  enum:
                  - test
                callback:
                  type: string
      responses:
        '200':
          description: Successful VIN query response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponse'
      tags:
      - Query
components:
  schemas:
    QueryResponse:
      type: object
      description: Response from VIN query endpoint
      properties:
        vin:
          type: string
          description: Vehicle Identification Number
          example: 1VXBR12EXCP901214
        id:
          type: string
          description: Unique report identifier for use in /pullreport
          example: S41149125266
        attributes:
          $ref: '#/components/schemas/VehicleAttributes'
        success:
          type: boolean
          description: Whether the query was successful
        error:
          type: string
          description: Error code or empty string if no error
          enum:
          - ''
          - invalid_vin
          - failed_request
          - unauthorized_request
    VehicleAttributes:
      type: object
      description: Basic vehicle attributes decoded from VIN
      properties:
        make:
          type: string
          description: Vehicle make
          example: TOYOTA
        model:
          type: string
          description: Vehicle model
          example: COROLLA CE
        year:
          type: string
          description: Vehicle model year
          example: '2005'
        engine:
          type: string
          description: Engine specifications
        style:
          type: string
          description: Vehicle body style
        made_in:
          type: string
          description: Country of manufacture
        type:
          type: string
          description: Vehicle type classification
